---
BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
IncludeBlocks: Regroup
IncludeCategories:
  # 1. Corresponding header first (dbmesh project headers)
  - Regex: '^"dbmesh/'
    Priority: 1
  # 2. Boost headers
  - Regex: '^<boost/'
    Priority: 2
  # 3. Standard library
  - Regex: '^<[a-z]'
    Priority: 3
  # 4. Everything else
  - Regex: '.*'
    Priority: 4
SortIncludes: CaseSensitive
SpaceBeforeCpp11BracedList: true
Standard: c++20
