---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-else-after-return,
  readability-identifier-naming,
  readability-implicit-bool-conversion,
  readability-qualified-auto,
  readability-redundant-member-init,
  readability-simplify-boolean-expr,
  performance-faster-string-find,
  performance-for-range-copy,
  performance-inefficient-string-concatenation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,

WarningsAsErrors: ''
HeaderFilterRegex: '^.*/dbmesh/.*\.h$'
FormatStyle: file

CheckOptions:
  - key:   readability-identifier-naming.NamespaceCase
    value: lower_case
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.MethodCase
    value: lower_case
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.MemberCase
    value: lower_case
  - key:   readability-identifier-naming.MemberSuffix
    value: _
  - key:   readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key:   readability-identifier-naming.ConstantCase
    value: UPPER_SNAKE_CASE
  - key:   readability-identifier-naming.EnumConstantCase
    value: UPPER_SNAKE_CASE
  - key:   readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.TypeAliasCase
    value: CamelCase
